node_modules
.yarn
.pnp.cjs
.pnp.loader.mjs
.next
dist
coverage
.turbo
**/.DS_Store
output/
*.tsbuildinfo
.env
.env.local
.vercel
packages/db/prisma/dev.db
packages/db/prisma/dev.db-journal
.env.sentry-build-plugin
